
<div class="meme-button-container">
    <button class="meme-button-create"(click)="createMeme(1)">Create Meme!</button>
    <button class="meme-button-save"(click)="saveMeme()">Save</button>
</div>

<div class="meme-container" id="meme-container">
    <div class="meme-image-container" id="meme-image-container" 
        *ngFor="let pic of catPics">
        <img class="meme-image" id="meme-image" [src]="pic.url" />
    </div>
    <div class="meme-quote-container" id="meme-quote-container">
        <p class="meme-quote" id="meme-quote">{{quoteStr}}</p>
    </div>
</div>

<div>
</div>>
