<h4>Fetch HTTPS Status Code</h4>

<table>
    <tr><th>Status Codes</th></tr>
    <tr><td>100s</td><td>Informational</td></tr>
    <tr><td>200s</td><td>Success</td><td>(we successfully fulfilled your request)</td></tr>
    <tr><td>300s</td><td>Redirection</td><td>(we moved the resource you're looking for)</td></tr>
    <tr><td>400s</td><td>Client Side Error</td><td>(your fault)</td></tr>
    <tr><td>500s</td><td>Server Side Error</td><td>(my bad)</td></tr>
</table>

<input type="number" [(ngModel)]="statusCode">

<button (click)="fetchStatusCode()">Fetch</button>
<div>
    <img [src]="imgSrc" width="50%">
</div>