<p>cats works!</p>

<!-- two way binding using "banana box" -->
<input type="number" [(ngModel)]="numCats">
<button (click)="incrementCats()">+</button>
<button (click)="decrementCats()">-</button>
<button (click)="reset()">reset</button>
<div></div>
<button (click)="getCats()">Get Cats</button>


<div *ngFor="let pic of catpics">
    <!-- [src] is an example of property binding -->
    <!-- pic is pic in catpics / url is the url in component -->
    <img [src]="pic.url" width="50%"/>
</div>
<!-- {{catpics | json}} -->