<h4>The Cat API</h4>


<form #catform="ngForm" (submit)="getCats(catform)">
    
    <div>
        <label for="numCats">How many cats do you want (1-25)?</label>
        <div>
            <input type="number" 
                    name="numCats" 
                    id="numCats" 
                    [(ngModel)]="numCats" 
                    #numcat="ngModel" 
                    [required]="validation.required" 
                    [min]="validation.min" 
                    [max]="validation.max">
        </div>  
        <div *ngIf="numcat.invalid && (numcat.dirty && numcat.touched)" class="alert">
            <div *ngIf="numcat.errors?.['min']">
                the min value is 1.
            </div>
            <div *ngIf="numcat.errors?.['max']">
                the max value is 25.
            </div>
        </div>
    </div>

    <div>
        <label for="breed">What type of cat do you want?</label>
        <div>
            <select name="breed" id="breedId" (change)="updateSelectedBreed($event)">
                <option value="">--any--</option>
                <option *ngFor="let b of catBreeds" 
                    [innerText]="b.name"
                    [value]="b.id"></option>
            </select>
        </div>
    </div>
    
    <div></div>
    <input type="submit" value="Get Cats">
</form>

<!-- <div>
    <form [formGroup]="cardForm">
        <div class="form-group">

            
            <div>
                <label for="breed">What type of cat do you want?</label>
                <div>
                    <select name="breed" id="breedId" (change)="updateSelectedBreed($event)">
                        <option value="">--any--</option>
                        <option *ngFor="let b of catBreeds" 
                            [innerText]="b.name"
                            [value]="b.id"></option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div> -->


<div>
    <div *ngFor="let pic of catPics">
        <img [src]="pic.url" width="50%"/> <!-- [src] is an example of property binding // pic is pic in catpics / url is the url in component -->
        <div>
            <button (click)="vote({id: pic.id, amount: 1})">+</button>
            <button (click)="vote({id: pic.id, amount: -1})">-</button>
        </div>
    </div>
    <!-- <div>{{catPics | json}}</div> -->
</div>

