<div id="about-me">
    <section class="center">
        <figure>
        <img
            [src]="imgProfileSrc"
            alt="Adam Dizer 2020"
        />
        <figcaption>Adam Dizer</figcaption>
        
            <p>
                With 5+ years of software development and 10+ years of leadership experience, I offer a unique skill set for facilitating innovative progress to any project. I enjoy creatively solving complex problems and I am highly capable of leading teams through challenging and demanding organizational environments, while maintaining a strong work ethic valued in openness to feedback and integrity. My passion is to work collaboratively and efficiently with an exceptional team to deliver impactful solutions.
            </p>
        </figure>
    </section>  
</div>
