

<div class="center">
<h3>The Application</h3>

<div>The Application is a web platform to host your professional profile. </div>
<div>The Application is built for easy use to add new projects to be displayed for your profile.</div>
<div>The Application has multiple sections outlined below</div>

<h4>The Navigation Bar</h4>
<div>The Navigation Bar allows seamless transitions between different components within the profile.</div>
<div><img src="assets/navbar.jpg" style="border: 1px solid black"></div>

<h4>About Me</h4>
<div>The About Me compontent is an simple profile to display important professional information about you!</div>
<div></div>

<h4>Helpful Links</h4>
<div>The Helpful Links is a component that hosts a list of web addresses for professional reference. </div>
<div>The Helpful Links loads the external web links within the component for easy searching and viewing transition.</div>
<div></div>

<h4>My Projects</h4>
<div>The My Projects component hosts projects to be showcased for professional portfolios.</div>
<div>The My Pojects component is designed for easy implimentation of new projects build within the angular framework.</div>
<div><img src="assets/projects.jpg" style="border: 1px solid black"></div>

</div>